<h1>Veuillez vous inscrire</h1>

<form>
    <div>
    <h1>Formulaire d'inscription</h1>
        <br>
        {{form(form)}}  
         <a href = "{{path('app_home') }}">Create Pin</a>

        
  
    </div>
</form>

