<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Pinterest clone</title>
	</head>
	<body>
		<h1>All Pins</h1>
       
		<a href="{{path('Formulaire') }}">Creer un compte</a>

		{# {% if pins|lenght > 0 %}
			{{% for user in users %}}
			<article>
				<h1>{{user.email}}</h1>
				<p>{{user.password}}</p>
			</article>
			{{% endfor %}}
        {% else %}
			    <p>
				Désole il n'y a rien</p>
        {% endif %} #}
		</body>
	</body>
</html>
